#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal
}
nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
nav li {
  display: inline;
  border: solid;
  border-width: 1px 1px 0 1px;
  margin: 0 5px 0 0;
}

nav li a {
  padding: 0 10px;
}

table {
  border-collapse: collapse;
  table-layout: fixed;
}

tr {
  border-bottom: 1pt solid black;
}
th td {
  border-left: 1pt solid black;
}