* {
  background-color: black;
  color: white;
}
#app {
  width: 100%;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
  left: 0%;
  /* background-color: #efeded; */
}

nav {
  position: fixed;
  top: 0%;
  left: 0%;
  padding: 5% 0 0 5%;
  background-color: #4472c4;
  width: 100%;
  z-index: 2;
}

/* main div {
  background-color: #efeded;
} */

input[type=button] {
  color: white;
}

.page {
  height: 1svw;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  background-color: #4472c4;
}
nav li {
  display: inline;
  padding: 2px 25px;
  border: solid;
  border-width: 2px 2px 0 2px;
  margin: 0 5px 0 0;
  background-color: black;
}

nav li a {
  padding: 0 10px;
}

table {
  border-collapse: collapse;
  table-layout: fixed;
  border-top: solid 1px #eeffee;
}

tr {
  border-bottom: 1pt solid #eeffee;
  width: 100%;
  border-right: 1pt solid #eeffee;
}

th, td {
  border-left: 1pt solid #eeffee;
  padding: 2px;
}

p {
    margin-top: 1%;
}

a {
    color: blue;
    text-decoration: underline;
}

input {
  color: black;
}

select {
  color: black;
}

input:valid, select {
  background-color: white;
}

input:invalid {
  background-color: lightpink;
}

label {
	display: block;
}

.modal {
	z-index: 5;
	width: 100%;
	height: 100%;
  display: flex;
  overflow: hidden;
}

.modal button {
  margin: 2px 12px 2px 0;
  padding: 0 12px 0 12px;
  border: solid 1px #eeddee;
}